body {
	background-color: #FFF6F7;
}

header div a {
	display: none;
}
}

.main {
background-color: white;
height: 1200px;
}

.container {
margin: 90px;
background-color: white;
display: grid;
height: 1000px;
width: 1200px;
grid-row-gap: 30px;
grid-template-rows: 9% 32% 25%;
grid-template-columns: 33.33% 33.33% 33.33%;
}

h1{
grid-column: 1/2;
grid-row: 1/2;
}

.img {
width: 100%;
grid-column: 1/3;
}


section {
grid-column: 1/3;
display: grid;
grid-template-columns: 30% 70%;
column-gap: 50px;
grid-row: 2/4;
}

.read {
grid-column: 2/3;
width: 100px;
border-radius: 10px;

color: white;
height: 40px;
background-color: hsl(5, 85%, 63%);
}

aside {
grid-row: 2/4;
grid-column: 3/4;
padding: 20px;
color: white;
text-align: center;
background-color: hsl(240, 100%, 5%);
margin: 10px 30px 20px 90px;
}

aside p {
opacity: .6;
}

aside a {
color: white;
}

.new {
color: hsl(35, 77%, 62%);
font-size: 40px;
display: block;
text-align: left;
}

h1 {
margin-right: 500px;
display: inline;
}

header {
display: inline;
grid-column: 3/4;
grid-row: 1/1;
}

a:hover {
color: red;
}

footer {
grid-column: 1/4;
grid-row: 4/4;
display: grid;
grid-template-columns 33% 33% 33%;
}

footer h2 {
opacity: 0.7;
font-size: 50px;
display: inline-block;
}

footer img {
width: 50px;
height: 50px;
}

.div1 {
grid-column: 1/2;
}

.div2 {
grid-column: 2/3;
}

.div3 {
grid-column: 3/4;
}

@media (max-width=375px) {

header img{
	display:none
}


header div a {
display: inline-block;
}

.container {
height: 1200px;
width: 370px;
grid-template-rows: 3% 32% 32% 32%;
grid-template-columns: 97%;
}

h1 {
grid-row: 1/2;
}



.img{
width: 100%;
grid-row: 1/2;
}

.hh {
grid-row: 2/3;
}

section {
column-gap: 30px;
grid-template-columns: 25% 48% 25%;
grid-template-rows: 49% 49% 2%;
grid-row: 2/3;
}

section p {
grid-row: 2/3;
}

.read {
grid-row: 3/4;
grid-column: 2/3;
}

a {
display: none;
}

aside {
grid-row: 3/4;
padding: 20px;
width: 95%;
color: white;
text-align: center;
background-color: hsl(240, 100%, 5%);
}

aside p {
opacity: .6;
}

aside a {
color: white;
display: inline-block;
}

.new {
}

h1 {
}

header {
grid-column: 3/4;
grid-row: 1/1;
}


footer {
grid-column: 1/4;
grid-row: 4/5;
display: grid;
grid-template-rows: 33% 33% 33%;
}

footer img {
height: 100px;
display: inline;
}

footer div{
	width: 95%;
}

footer div > *{
	display: inline;
}

.menu{

}